@charset "utf-8";
/* CSS Document */

.navbar{
	border:none;
}
.carousel{
	margin-top:-20px;
}
.carousel-control{
	text-shadow:none;
}
.carousel-control.left{
	background-image:none;
}
.carousel-control.right{
	background-image:none;
}
.navbar-inverse .navbar-toggle{
	background-color:#fff;
	color:#26384C;
	border:none;
	padding-top:20px;
}

.navbar-inverse .navbar-toggle .icon-bar{
	background-color:#26384C;
	display:block;
	width:27px;
	height:3px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus{
	background-color:#fff;
}

.navbar {
  -webkit-box-shadow: 0px 1px 6px #D6D6D6;  
  -moz-box-shadow: 0px 1px 6px #D6D6D6;  
  box-shadow: 0px 1px 6px #D6D6D6; 
}

.dropdown {
    position: relative;
    display: inline-block;
}

.selected{
	border:1px solid #919191;
	height:30px;
	width:90px;
	margin-top:10px;
}

.selected span a{
	line-height:30px;
	padding-left:15px;
	color:#F1F1F1;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 90px;
    z-index: 99999;
	background:#fff;
	border:1px solid #919191; 
	color:#0C141F
}

.dropdown:hover .dropdown-content {
    display: block;
}
.langugeitem{
	padding: 5px 15px;
}
.langugeitem:hover{
	background:#919191;
	color:#fff;
	cursor:pointer;
}

.help{
	line-height:45px;
	margin-right:5px;
	color:#F1F1F1;
	text-decoration:none;
}

.help:hover{
	color:#ffffff;
}

.help:visited{
	color:#F1F1F1;
}

.contact{
	line-height:45px;
	margin-left:5px;
	margin-right:10px;
	color:#F1F1F1;
	text-decoration:none;
}

.contact:hover{
	color:#ffffff;
}

.contact:visited{
	color:#F1F1F1;
}

.logo{
	width:80%;
}

.navbar>.container .navbar-brand{
	margin-top:15px;	
}

@media (min-width: 768px) and (max-width: 991px){
	.nav>li>a {
		padding: 10px 11px;
	}
	.menuItem, .active{
		font-size:10px;
	}
	.logo{
		display:none
	}
	.navbar-collapse{
		margin-top:15px;
	}
}

@media (min-width: 1025px)and (max-width: 1200px){
	.menuItem, .active{
		font-size:12px;
	}
	.navbar-header{
		width:15%;
		margin-top: -11px !important;
	}
	
	.logo{
		margin-top:0px;
	}
	.navbar-collapse {
    	margin-top: 3% !important;
		
	}
}

@media (min-width: 1024px) and (max-width: 1024px){
	.logo{
		margin-top:0px;
	}
}

@media (min-width: 768px) and (max-width: 1024px){
	.logo {
    	width: 100%;
	}
	.navbar-header{
		width:10%;
	}
	.navbar-brand{
		padding:0;
	}
	.dropdown{
		float:right;
		margin-right:-40px;
		margin-top:-45px;
	}
	.nav>li>a {
		padding: 10px 10px;
	}
	.navbar-collapse{
		margin-top:3% !important;
	}
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
		float:right;
	}
}

@media (max-width:480px){
	.logo{
		width:50%;
	}
}

@media (min-width:768px) and (max-width:768px){
	.logo{
		display:none
	}
	.navbar-collapse{
		margin-top:15px;
	}
}

@media (min-width:480px) and (max-width:768px){
	.logo{
		width:50%;
	}
	.menuItem,.active,.reservation{
		font-size:12px;
	}
	.nav>li>a {
		padding: 10px 10px;
	}

}