<div class="dining_banner">
    <img src="~/Images/wedding.png" class="carousel-inner img-responsive" />
</div>

<div class="menus">
    <div class="inline_nav">
        <h4>FUNCTIONS</h4>
    </div>
    <div class="container">
        <div class="row" style="margin-bottom:20px">
            <div class="col-lg-4">
                <div>
                    <img src="~/Images/e1.png" class="carousel-inner img-responsive" />
                </div>
                <div class="menu_text">
                    <h3>WEDDING</h3>
                    <p>Spacious comfort. Refined sophistication. Rooms and suites that overlook vibrant Auckland City. Furnished with handcrafted wood furniture, rich textiles</p>
                    <p><a href="wedding.html"><button class="btn btn-default">MORE</button></a></p>

                </div>
            </div>
            <div class="col-lg-4">
                <div>
                    <img src="~/Images/e2.png" class="carousel-inner img-responsive" />
                </div>
                <div class="menu_text">
                    <h3>CONFERENCE</h3>
                    <p>Spacious comfort. Refined sophistication. Rooms and suites that overlook vibrant Auckland City. Furnished with handcrafted wood furniture, rich textiles</p>
                    <p><button class="btn btn-default">MORE</button></p>
                </div>
            </div>

            <div class="col-lg-4">
                <div>
                    <img src="~/Images/e3.png" class="carousel-inner img-responsive" />
                </div>
                <div class="menu_text">
                    <h3>PRIVATE FUNCTION</h3>
                    <p>Spacious comfort. Refined sophistication. Rooms and suites that overlook vibrant Auckland City. Furnished with handcrafted wood furniture, rich textiles</p>
                    <p><button class="btn btn-default">MORE</button></p>
                </div>
            </div>

            <div class="col-lg-4">
                <div>
                    <img src="~/Images/christmas.png" class="carousel-inner img-responsive" />
                </div>
                <div class="menu_text">
                    <h3>CHRISTMAS BANQUET</h3>
                    <p>Spacious comfort. Refined sophistication. Rooms and suites that overlook vibrant Auckland City. Furnished with handcrafted wood furniture, rich textiles</p>
                    <p><button class="btn btn-default">MORE</button></p>
                </div>
            </div>

            <div class="col-lg-4">
                <div>
                    <img src="~/Images/e3.png" class="carousel-inner img-responsive" />
                </div>
                <div class="menu_text">
                    <h3>NEW YEAR'S EVE BANQUET</h3>
                    <p>Spacious comfort. Refined sophistication. Rooms and suites that overlook vibrant Auckland City. Furnished with handcrafted wood furniture, rich textiles</p>
                    <p><button class="btn btn-default">MORE</button></p>
                </div>
            </div>

        </div>


    </div>
</div>