<div class="dining_banner">
    <img src="~/Images/dining_banner.png" class="carousel-inner img-responsive" />
</div>

<div class="menus">
    <div class="inline_nav" style="text-align:left">
        <h4>GALLERY</h4>
    </div>
    <div class="container">
        <div class="jq22-container">

            <div class="photos" style="margin-right:-15px">
                <div class="photo">
                    <img src="~/Images/dining_img1.jpg">
                    <div class="title"></div>
                    <div class="txt">
                        <p>
                            Text1Text1Text1Text1Text1
                        </p>
                    </div>
                </div>
                <div class="photo">
                    <img src="~/Images/d1.png">
                    <div class="title"></div>
                    <div class="txt">
                        <p>
                            Text1Text1Text1Text1Text1
                        </p>
                    </div>
                </div>
                <div class="photo">
                    <img src="~/Images/600x400.png">
                    <div class="title"></div>
                    <div class="txt">
                        <p>
                            Text1Text1Text1Text1Text1
                        </p>
                    </div>
                </div>
                <div class="photo">
                    <img src="~/Images/600x400.png">
                    <div class="title"></div>
                    <div class="txt">
                        <p>
                            Text1Text1Text1Text1Text1
                        </p>
                    </div>
                </div>
                <div class="photo">
                    <img src="~/Images/600x400.png">
                    <div class="title">Text5</div>
                </div>
                <div class="photo">
                    <img src="~/Images/600x320.png">
                    <div class="title">Text6</div>
                </div>
                <div class="photo">
                    <img src="~/Images/600x400.png">
                    <div class="title">v7</div>
                </div>
                <div class="photo">
                    <img src="~/Images/600x400.png">
                    <div class="title">Text8</div>
                </div>
                <div class="photo">
                    <img src="~/Images/600x900.png">
                    <div class="title">Text9</div>
                </div>
                <div class="photo">
                    <img src="~/Images/900x600.png">
                    <div class="title">Text10</div>
                </div>
                <div class="photo">
                    <img src="~/Images/600x400.png">
                    <div class="title">Text11</div>
                </div>
                <div class="photo">
                    <img src="~/Images/600x280.png">
                    <div class="title">Text12</div>
                </div>
                <div class="photo">
                    <img src="~/Images/600x400.png">
                    <div class="title">Text13</div>
                </div>
                <div class="photo">
                    <img src="~/Images/600x600.png">
                    <div class="title">Text14</div>
                </div>
                <div class="photo">
                    <img src="images/600x400.png">
                    <div class="title">Text15</div>
                </div>
                <div class="photo">
                    <img src="~/Images/600x400.png">
                    <div class="title">Text16</div>
                </div>
                <div class="photo">
                    <img src="~/Images/600x900.png">
                    <div class="title">Text17</div>
                </div>
                <div class="photo">
                    <img src="~/Images/900x600.png">
                    <div class="title">Text18</div>
                </div>
                <div class="photo">
                    <img src="~/Images/600x400.png">
                    <div class="title">Text19</div>
                </div>
                <div class="photo">
                    <img src="~/Images/600x280.png">
                    <div class="title">Text20</div>
                </div>
                <div class="photo">
                    <img src="~/Images/600x400.png">
                    <div class="title">Text21</div>
                </div>
                <div class="photo">
                    <img src="~/Images/600x600.png">
                    <div class="title">Text22</div>
                </div>
                <div class="photo">
                    <img src="~/Images/600x400.png">
                    <div class="title">Text23</div>
                </div>
                <div class="photo">
                    <img src="~/Images/600x400.png">
                    <div class="title">Text24</div>
                </div>
                <div class="photo">
                    <img src="~/Images/600x900.png">
                    <div class="title">Text25</div>
                </div>
                <div class="photo">
                    <img src="~/Images/900x600.png">
                    <div class="title">Text26</div>
                </div>
                <div class="photo">
                    <img src="~/Images/900x600.png">
                    <div class="title">Text27</div>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>