<div class="dining_banner">
    <img src="~/Images/dining_banner.png" class="carousel-inner img-responsive" />
</div>

<div class="menus">
    <div class="inline_nav">
        <h4>RESERVATION / BOOK TABLE</h4>
    </div>
    <div class="container" style="min-height:300px;background:#fbfbfc;border-top:2px solid #CCC">
        <div class="menutitle">
            <p>
                <h3>BOOK TABLE</h3>
            </p>
        </div>
        <div class="row" style="margin-bottom:50px;">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="text-align:justify">
                <form action="" class="form-inline" role="form" style="margin-top:25px;padding-left:15px;padding-right:15px">

                    <div class="form-group">
                        <select class="form-control" style="min-width:190px">
                            <option>1 person</option>
                            <option>2 people</option>
                            <option>3 people</option>
                            <option>4 people</option>
                            <option>5 people</option>
                            <option>6 people</option>
                            <option>6+ people</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input size="16" data-link-format="yyyy-mm-dd" data-date-format="dd MM yyyy" type="text" value="13 July 2016" readonly="readonly" class="form_date form-control" style="background-color:#FFF;cursor:pointer" />
                    </div>
                    <div class="form-group">
                        <select class="form-control" style="min-width:190px">
                            <option>10:00 AM</option>
                            <option>11:00 AM</option>
                            <option>12:00 AM</option>
                            <option>1:00 PM</option>
                            <option>2:00 PM</option>
                        </select>
                    </div>
                    <div style="margin:10px 0px 10px 0px;">
                        <span class="error">Please enter your first name</span>
                    </div>

                    <div style="margin:10px 0px 10px 0px;">
                        <input type="text" placeholder="First Name" class="form-control" style="min-width:290px;max-width:580px; border-color:#A94442" />
                    </div>

                    <div style="margin:0px 0px 0px 0px;">
                        <input type="text" placeholder="Last Name" class="form-control" style="min-width:290px;max-width:580px" />
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-earphone"></span>
                            </span>
                            <input style="min-width:250px;max-width:580px" type="text" class="form-control" placeholder="Phone Number">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </span>
                            <input type="text" placeholder="Email Address" class="form-control" style="min-width:250px" />
                        </div>
                    </div>

                    <div style="margin:10px 0px 10px 0px;">
                        <textarea placeholder="Add special request(optional)" class="form-control" style="max-width:580px" rows="4"></textarea>
                    </div>

                    <div style="margin:10px 0px 10px 0px; text-align:left">
                        <input type="checkbox" id="ck" />
                        <label style="font-size:16px; font-weight:normal;" for="ck">Yes, I want to receive email messages from Aorangi Peak Resturant.</label>
                    </div>

                    <div class="form-group">
                        <input type="submit" class="submit btn btn-default" value="COMPLETE RESERVATION" style="min-width:300px" />
                    </div>
                    <div class="form-group">
                        <p style="line-height:25px; color:#999">By clicking "COMPLETE RESERVATION" you agree to the <a href="#"> Aorangi Peak Resturant Terms of Use </a> and <a href="#">Privacy Policy</a>.</p>
                    </div>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>