<div style="background-color:#0C141F; height:50px; color:white;">
    <div class="container">
        <div class="col-md-9"></div>
        <div class="col-md-3">
            <a href="#" class="help">HELP</a>
            <span style="color:#919191">|</span>
            <a href="~/Home/Contact" class="contact">CONTACT US</a>

            <div class="dropdown">
                <p class="selected">
                    <span><a href="#">English</a></span>
                </p>

                <div class="dropdown-content">
                    <p class="langugeitem"><span>简体中文</span></p>
                    <p class="langugeitem"><span>日本語</span></p>
                    <p class="langugeitem"><span>한국의</span></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="navbar-wrapper">
    <div class="navwrapper">
        <div class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="~/Home/Index">
                        <img src="@ViewBag.LogoUrl" class="logo" />
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="menuItem" id="home"><a href="~/Home/Index">HOME</a></li>
                        <li class="menuItem" id="restaurant"><a href="~/Restaurant/Index">RESTAURANT</a></li>
                        <li class="menuItem" id="accommodation"><a href="~/Accommodation/Index">ACCOMMODATION</a></li>
                        <li class="menuItem" id="functions"><a href="~/Functions/Index">FUNCTIONS</a></li>
                        <li class="menuItem" id="attractions"><a href="~/Attractions/Index">ATTRACTIONS</a></li>
                        <li class="menuItem" id="gallery"><a href="~/Gallery/Index">GALLERY</a></li>
                        <li class="reservation"><a href="bookingtable.html">RESERVATOINS</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

