    <div id="carousel-imgs" class="swiper-container carousel slide carousel-fade" data-ride="carousel">
        <div class="swiper-wrapper carousel-inner" style="margin-top:-120px">

            <div class="swiper-slide swiper-slide-duplicate slide_item">
                <img src="~/Images/carousel-1.png">
                <div class="carousel-caption">
                    <h2>RESTAURANT</h2>
                    <p>
                        Long, long ago, when the Maori of Aotearoa (New Zealand) first arrived, Ihenga the grandson of the great Pacific explorer
                        Tamatekapu, discovered and named Lake Rotorua. Roto (meaning lake) and rua (meaning two) was named because it was <br />
                        <a class="btn learn_more" href="resturant.html">LEARN MORE</a>
                    </p>
                </div>
            </div>

            <div class="swiper-slide swiper-slide-visible swiper-slide-active slide_item">
                <img src="~/Images/carousel-2.png">
                <div class="carousel-caption">
                    <h2>ACCOMMODATION</h2>
                    <p>
                        Long, long ago, when the Maori of Aotearoa (New Zealand) first arrived, Ihenga the grandson of the great Pacific explorer
                        Tamatekapu, discovered and named Lake Rotorua. Roto (meaning lake) and rua (meaning two) was named because it was <br />
                        <a class="btn learn_more" href="accommodation.html">LEARN MORE</a>
                    </p>
                </div>
            </div>

            <div class="swiper-slide slide_item">
                <img src="~/Images/carousel-4.png">
                <div class="carousel-caption">
                    <h2>FUNCTIONS</h2>
                    <p>
                        Long, long ago, when the Maori of Aotearoa (New Zealand) first arrived, Ihenga the grandson of the great Pacific explorer
                        Tamatekapu, discovered and named Lake Rotorua. Roto (meaning lake) and rua (meaning two) was named because it was <br />
                        <a class="btn learn_more" href="#">LEARN MORE</a>
                    </p>
                </div>
            </div>

            <div class="swiper-slide slide_item">
                <img src="~/Images/carousel-3.png">
                <div class="carousel-caption">
                    <h2>ATTRACTIONS</h2>
                    <p>
                        Long, long ago, when the Maori of Aotearoa (New Zealand) first arrived, Ihenga the grandson of the great Pacific explorer
                        Tamatekapu, discovered and named Lake Rotorua. Roto (meaning lake) and rua (meaning two) was named because it was <br />
                        <a class="btn learn_more" href="#">LEARN MORE</a>
                    </p>
                </div>
            </div>

        </div>

        <div class="pagination" style="">
            <span class="swiper-pagination-switch swiper-visible-switch swiper-active-switch"></span>
            <span class="swiper-pagination-switch"></span>
            <span class="swiper-pagination-switch"></span>
            <span class="swiper-pagination-switch"></span>
        </div>

        <a class="left carousel-control" href="#carousel-imgs" role="button" data-slide="prev">
            <span class="left_arrow" aria-hidden="true">
                <img src="~/Images/left-arrow.png" />
            </span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-imgs" role="button" data-slide="next">
            <span class="right_arrow" aria-hidden="true">
                <img src="~/Images/right-arrow.png" />
            </span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="container btns">
        <table>
            <tr>
                <td><a class="btn btn-default btn-menu" href="bookingtable.html">RESERVATIONS</a></td>
                <td><a class="btn btn-default btn-menu" href="http://maps.apple.com/?q=Aorangi+Peak+Restaurant">LOCATE US</a></td>
            </tr>
            <tr>
                <td><a class="btn btn-default btn-menu" href="mailto:aorangipeak@xtra.co.nz">EMAIL US</a></td>
                <td><a class="btn btn-default btn-menu" href="tel:64 07-3470036">CALL US</a></td>
            </tr>
        </table>
    </div>


    <div class="dining1">
        <h3>RESTAURANT</h3>
        <p>Culinary delights served in sophisticated settings. From Asian to Western, enjoy a mix of classic and contemporary cuisines at our hotel's restaurants and lounges. </p>
    </div>

    <div class="dining">
        <div class="dining2"></div>
        <div class="dining3">
            <h3>RESTAURANT</h3>
            <p class="dining-text">Culinary delights served in sophisticated settings. From Asian to Western, enjoy a mix of classic and contemporary cuisines at our hotel's restaurants and lounges. </p>
            <p style="text-align:center;">
                <a href="resturant.html" class="btn btn-default more_btn">LEARN MORE</a>
            </p>
        </div>
        <div class="dining4">
            <img src="~/Images/dining_img1.jpg" />
        </div>
    </div>


    <div class="dining1">
        <h3>ACCOMMODATION</h3>
        <p>Culinary delights served in sophisticated settings. From Asian to Western, enjoy a mix of classic and contemporary cuisines at our hotel's restaurants and lounges. </p>
    </div>

    <div class="dining">
        <div class="room2"></div>
        <div class="room4">
            <img src="~/Images/room_img.png" />
        </div>
        <div class="room3">
            <h3>ACCOMMODATION</h3>
            <p class="dining-text">Culinary delights served in sophisticated settings. From Asian to Western, enjoy a mix of classic and contemporary cuisines at our hotel's restaurants and lounges. </p>
            <p style="text-align:center;">
                <a href="accommodation.html" class="btn btn-default more_btn">LEARN MORE</a>
            </p>
        </div>
    </div>

    <div class="dining1">
        <h3>FUNCTIONS</h3>
        <p>Culinary delights served in sophisticated settings. From Asian to Western, enjoy a mix of classic and contemporary cuisines at our hotel's restaurants and lounges. </p>
    </div>

    <div class="dining">
        <div class="dining2"></div>
        <div class="dining3">
            <h3>FUNCTIONS</h3>
            <p class="dining-text">Culinary delights served in sophisticated settings. From Asian to Western, enjoy a mix of classic and contemporary cuisines at our hotel's restaurants and lounges. </p>
            <p style="text-align:center;">
                <a href="functions.html" class="btn btn-default more_btn">LEARN MORE</a>
            </p>
        </div>
        <div class="dining4">
            <img src="~/Images/wedding_img.png" />
        </div>
    </div>

    <div class="dining1">
        <h3>ATTRACTIONS</h3>
        <p>Culinary delights served in sophisticated settings. From Asian to Western, enjoy a mix of classic and contemporary cuisines at our hotel's restaurants and lounges. </p>
    </div>

    <div class="attraction" id="featureContainer">
        <div id="feature" class="row">
            <div id="block" class="col-lg-12">
                <div id="botton-scroll">
                    <ul class="featureUL">
                        <li class="featureBox">
                            <div class="box">
                                <img src="~/Images/winery.png">
                            </div>
                            <div class="box attr_text">
                                <h3>WINERY</h3>
                                <p class="b_text">
                                    Culinary delights served in sophisticated settings. From Asian to Western, enjoy a mix of classic and contemporary cuisines at our hotel's restaurants and lounges.
                                </p>
                                <p>
                                    <a href="functions.html" class="btn btn-default more_btn">LEARN MORE</a>
                                </p>
                            </div>
                        </li>
                        <li class="featureBox">
                            <div class="box">
                                <img src="~/Images/park.png">
                            </div>
                            <div class="box attr_text">
                                <h3>THEME PARK</h3>
                                <p class="b_text">
                                    Culinary delights served in sophisticated settings. From Asian to Western, enjoy a mix of classic and contemporary cuisines at our hotel's restaurants and lounges.
                                </p>
                                <p>
                                    <a href="functions.html" class="btn btn-default more_btn">LEARN MORE</a>
                                </p>
                            </div>
                        </li>
                        <li class="featureBox">
                            <div class="box ">
                                <img src="~/Images/scroll_1.png">
                            </div>
                            <div class="box attr_text">
                                <h3>ATTRACTIONS3</h3>
                                <p class="b_text">
                                    Culinary delights served in sophisticated settings. From Asian to Western, enjoy a mix of classic and contemporary cuisines at our hotel's restaurants and lounges.
                                </p>
                                <p>
                                    <a href="functions.html" class="btn btn-default more_btn">LEARN MORE</a>
                                </p>
                            </div>
                        </li>
                        <li class="featureBox">
                            <div class="box">
                                <img src="~/Images/scroll_1.png">
                            </div>
                            <div class="box attr_text">
                                <h3>ATTRACTIONS4</h3>
                                <p class="b_text">
                                    Culinary delights served in sophisticated settings. From Asian to Western, enjoy a mix of classic and contemporary cuisines at our hotel's restaurants and lounges.
                                </p>
                                <p>
                                    <a href="functions.html" class="btn btn-default more_btn">LEARN MORE</a>
                                </p>
                            </div>
                        </li>
                        <li class="featureBox">
                            <div class="box">
                                <img src="~/Images/scroll_1.png">
                            </div>
                            <div class="box attr_text">
                                <h3>ATTRACTIONS5</h3>
                                <p class="b_text">
                                    Culinary delights served in sophisticated settings. From Asian to Western, enjoy a mix of classic and contemporary cuisines at our hotel's restaurants and lounges.
                                </p>
                                <p>
                                    <a href="functions.html" class="btn btn-default more_btn">LEARN MORE</a>
                                </p>
                            </div>
                        </li>
                        <li class="featureBox">
                            <div class="box">
                                <img src="~/Images/scroll_1.png">
                            </div>
                            <div class="box attr_text">
                                <h3>ATTRACTIONS6</h3>
                                <p class="b_text">
                                    Culinary delights served in sophisticated settings. From Asian to Western, enjoy a mix of classic and contemporary cuisines at our hotel's restaurants and lounges.
                                </p>
                                <p>
                                    <a href="functions.html" class="btn btn-default more_btn">LEARN MORE</a>
                                </p>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
            <a class="prev" href="javascript:void();">
                <img src="~/Images/left-arrow-g.png" width="36" height="80" />
            </a>
            <a class="next" href="javascript:void();">
                <img src="~/Images/right-arrow-g.png" width="36" height="80" />
            </a>
        </div>
    </div>
