<div class="dining_banner">
    <img src="~/Images/attr.png" class="carousel-inner img-responsive" />
</div>

<div class="menus">
    <div class="inline_nav">
        <h4>ATTRACTIONS</h4>
    </div>
    <div class="container">
        <div class="row" style="margin-bottom:20px">
            <div class="col-lg-4">
                <div>
                    <img src="~/Images/winery2.png" class="carousel-inner img-responsive" />
                </div>
                <div class="menu_text">
                    <h3><a href="cafe_menu.html" style="color:#FFF">WINERY</a></h3>
                    <p>Spacious comfort. Refined sophistication. Rooms and suites that overlook vibrant Auckland City.</p>
                    <p><a href="cafe_menu.html"><button class="btn btn-default">MORE</button></a></p>

                </div>
            </div>
            <div class="col-lg-4">
                <div>
                    <img src="~/Images/park2.png" class="carousel-inner img-responsive" />
                </div>
                <div class="menu_text">
                    <h3><a href="dinner_menu.html" style="color:#FFF">THEME PARK</a></h3>
                    <p>Spacious comfort. Refined sophistication. Rooms and suites that overlook vibrant Auckland City.</p>
                    <p><a href="dinner_menu.html"><button class="btn btn-default">MORE</button></a></p>
                </div>
            </div>


        </div>


    </div>
</div>